<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
      <section name="DataAccessConfiguration" type="DataAccessLayer.Configuration.DataAccessConfiguration,DataAccessLayer" allowLocation="true" allowDefinition="Everywhere"/>
</configSections>
    <DataAccessConfiguration>
      <Transaction>
        <Operation Name="GET_USER"/>
        <Parameters>
          <add Name="FirstName" Type="string" Direction="Input" Nullable="False"/>
          <add Name="MiddleName" Type="string" Direction="Input" Nullable="False"/>
          <add Name="LastName" Type="string" Direction="Input" Nullable="False"/>
        </Parameters>
      </Transaction>
    </DataAccessConfiguration>
  <connectionStrings>
    <add name="CodeFactoryDbConnectionString" connectionString="Data Source=PARAM;Initial Catalog=CodeFactoryDb;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
 <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
